*{
	font-family:"Montserrat";
	color:white;
}
a{
	color:white;
	cursor:pointer;
}
a:hover{
	cursor:pointer;
}
.cursortext{
	cursor:text !important;
	
}
.cursorpointer{
	cursor:pointer !important;
	
}
html{
	width:100%;
}
.nav>li>a:focus, .nav>li>a:hover{
	color:rgba(255, 255, 255, 0.8);
	background-color:transparent;
}
#theoryLink>h3:hover, #theoryLink:hover{
	color:white;
	text-decoration:none;
}

  @media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
	background:#071E22;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
#contact{
	background-color:#D3D3D3;
	padding-bottom:50px;
}
button:focus {
	outline:none !important;
    outline-offset: 0px !important;
	border-radius:0px !important;
	}
button{
	border-radius:0px !important;
}
#home{
	background-color:#1D7874;
	padding-top:100px;
}
.contact-dropdown{
	bottom:0px;
	position: fixed; 
}
h3{
	text-align:center;
}
.contact-dropdown{
	background-color:#D3D3D3;
	text-align:center;
	width:100%;
}
#Computing{
	background-color:#7c2c03;
	padding-top:60px;
	overflow-y:scroll;
	max-height:600px;
}
#Computing::-webkit-scrollbar { 
    display: none; 
}
div[id^='p']{
	margin:30px;
}
.no-underline>a, .no-underline>a:hover, .no-underline{
	color:white;
	font-size:20px;
	text-decoration:none;
	list-style-type:none;
	cursor:auto;
}

#cycling{
	background-image:url(https://dgtzuqphqg23d.cloudfront.net/29kBLObmJidg465X1Q5DWyQ19gJE5xqcPyf9g4n6WFQ-2048x1152.jpg);
	padding-top:60px;
}
@media (max-width: 768px) { 
.icon-bar{
	background-color:white;
}
.navbar-custom {
    padding: 0;
	background:#071E22;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
	
}
.active>a{
	background-color:rgba(255, 255, 255, 0.3);
}
.atbottom{
	bottom:0px !important;
}